<section id="profil">
  <ul class="nav">
    <li><a href="#">Accueil</a></li>
    <li><a href="#connexion">Connexion</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="head"></div>
  <div class="wrapLeft">
      <article class="myAccount">
        <h2>Mon Compte</h2>
        <div class="mail">
          {{#if user.email}}
            <p class="title">ADRESSE MAIL</p>
            <div>{{user.email}}</div>
          {{else}}
            <p class="title">PRENOM NOM</p>
            <div>{{user.first_name}} {{user.last_name}}</div>
          {{/if}}
        </div>
        <div class="money">
          <p >PORTE-MONNAIE</p>
          <div>{{user.pen}}</div>
        </div>
        <div class="addCash">
          <h2>Augmenter son solde</h2>
          <div> 1 stylo = 0.17€</div>
          <form action="/wallet" method="post">
            <input type="text" placeholder="Nombre de stylos" name="quantity">
            <input type="submit" value="VALIDER">
          </form>
        </div>

      </article>
      
      <article class="nextBets">
        <h2>Prochaines étapes</h2>
        <p> Kilometrage</p>
        <table class="rwd-table">
        <tr>
          <td class="from">Marrakech</td>
          <td class="to"><i class="fa fa-long-arrow-right"></i></td>
          <td class="destination">Fès</td>
          <td class="time">1j5h45min</td>
        </tr>
        <tr>
          <td class="from">Marrakech</td>
          <td class="to"><i class="fa fa-long-arrow-right"></i></td>
          <td class="destination">Fès</td>
          <td class="time">1j5h45min</td>
        </tr>
        <tr>
          <td class="from">Marrakech</td>
          <td class="to"><i class="fa fa-long-arrow-right"></i></td>
          <td class="destination">Fès</td>
          <td class="time">1j5h45min</td>
        </tr>
        <tr>
          <td class="from">Marrakech</td>
          <td class="to"><i class="fa fa-long-arrow-right"></i></td>
          <td class="destination">Fès</td>
          <td class="time">1j5h45min</td>
        </tr>
        <tr>
          <td class="from">Marrakech</td>
          <td class="to"><i class="fa fa-long-arrow-right"></i></td>
          <td class="destination">Fès</td>
          <td class="time">1j5h45min</td>
        </tr>
      </table>
      </article>
  </div>
  <article class="betsOngoing">

    {{#each bets}}
      <div class="bets {{#ifCond this.type_id 1}}bet1{{else}}betElse{{/ifCond}}">
        <h2>{{this.answer}}</h2>
        <h3>{{this.desc}}</h3>
        <p class="time">Temps restant : {{../timeLeft}} </p>
        <div class="main">
          {{#ifCond this.type_id 1}}
            <div class="course">
              <p>TRAJET</p>
              Ceuta  <i class="fa fa-long-arrow-right"></i>  Marrakech
            </div>
          {{/ifCond}}
          <div class="form">
            <p>&Agrave; VOUS DE JOUER !</p>
            <form action="/bet/{{this.id}}" method="post">
              <label>VALEUR</label> <input type="text" placeholder="km" name="value"> 
              <label>MISE</label> <input type="text" placeholder="stylos" name="bet">
              <input class="send" type="submit" value="VALIDER LE PARI">
            </form>
          </div>
        </div>
      </div>
    {{/each}}
    
  </article>

</section>